
body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    background: #EAFFD0 url('UnitConvertion.jpg') no-repeat center center;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #F38181;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    flex: 1 1 calc(45% - 20px); 
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.card h2 {
    margin: 0;
    font-size: 22px;
}


.length-card {
    background: #F38181; 
}

.weight-card {
    background: #FCE38A; 
    color: #333;
}

.temperature-card {
    background: #95E1D3; 
}

.time-card {
    background: #EAFFD0; 
    color: #333;
}

.currency-card {
    background: #FCE38A; 
    color: #333;
}

.card:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.1);
}


.converter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #555; 
}

input,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background: #f9f9f9; 
    color: #333;
}

input:focus,
select:focus {
    border-color: #4CAF50; 
    outline: none;
    background: #fff; 
}


button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #F38181;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e57373;
    transform: scale(1.05);
}


.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    background: #f1f8e9; 
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#backBtn {
    background-color: #FF5722; 
    margin-top: 20px;
}

#backBtn:hover {
    background-color: #e64a19;
}


@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }

    .result {
        font-size: 16px;
    }

    .card {
        flex: 1 1 calc(90% - 20px); 
    }
}
